# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
db/
env/
myenv/
*.log
*.sqlite3

# Virtual environment folders
myenv/
env/
venv/

# VSCode settings
.vscode/

# MacOS files
.DS_Store

# Logs and databases
*.log
*.sqlite3


